# Week 1 - Getting started Python and Jupyter Lab

# Setup

Programming for this course will be done in python 3. We will be using Jupyter notebooks in a Jupyter lab environment for programming tasks.

There will be three things that will of importance to you:

1. Jupyter notebook - The actual document where you will code and write your notes
2. Jupyter lab - A browser based environment to code in (this is where you edit your notebooks)
3. Jupyter hub server - This is hosted on aarnet cloudstor, you can sign in with your university account and launch a SWAN session to work on these tutorials

You can either use the web server at <cloudstor.aarnet.edu.au>

OR

Set up a local Jupyter installation on your own computer. Much harder. Come to me and ask for rescources if you'd like to do this. 

## Jupyter notebooks

* Jupyter notebooks provide an interactive and reproducible programming environment to work with.
* Jupyter notebooks allow you to merge code with text in the form of markdown.
* All this combined means that reports are no longer static. Users can interact with reports, change code, play with interactive figures, and lots more...

For more information visit <https://jupyter.org/>

## Jupyter lab

This is what you are likely looking at after logging on to the servers. You will be using 4 main components of jupyter lab:

1. The code editor
2. The file browser
3. A command line - where you type UNIX commands
4. A code console - where you run python code

Please familiarise yourself with Jupyter lab as you will be relying on it through out the course. The documentation <https://jupyterlab.readthedocs.io> is nice and concise.

Some useful hotkeys are:
    
* Shift-Enter : execute the code in the current cell
* Enter : edit the current cell
* ESC : stop editing a cell and return to "command mode" to use other hotkeys
* m : Turn the current cell into a Markdown cell
* y : Turn the current cell into a code cell
* a : add a new cell above
* b : add a new cell below
* dd : delete the current cell
* c : copy the current cell
* v : paste the copied cell(s)

You can also execute the command ? or help() to get help on any function. For instance, sorted? or help(sorted).

## Jupyter Hub

Each of you should be able to login to the AARNET server and launch a Jupyter lab instance. The web address for the server is <cloudstor.aarnet.edu.au>. You will need to clone and upload the tutorial repo to your cloudstor account before launching the notebooks with SWAN.

> The "https://" prefix for the address is required

## Using Git and GitHub

All tutorial materials for this course are hosted on GitHub. Git is a version control system that is commonly used when programming. It is good practice to use version control systems when coding to avoid those nasty surprises where all your work for no reason at all (it does happen!). GitHub is a service that allows you to have your version controlled code online (like this repository).

Common commands you will be using are:

1. `git clone https://github.com/adamtaranto/COMP90014_2021 ' - to make a copy of this repository today
2. `git pull` - to download changes made every week (i.e. to download the content for each week's tutorial)

Excluding the first week, each week you will be following the procedure below to avoid complications when using git:

1. Perform a pull using `git pull` - this will download any changes e.g. addition of week1.ipynb
2. Create a copy of the tutorial document e.g. copy week2.ipynb to week1_ataranto.ipynb
3. Edit the copied version **NOT** the original (edit week1_ataranto.ipynb)

Editing the original file will result in complications if you are not familiar with git. If you run into errors, ask your tutor during tutorials and I will help you with them.

Too much text? Let your tutor help you out with a demo

# Now onto programming in Jupyter Notebooks

The cell below is a code cell. The cell following it is the output of that code

In [1]:
print("Hello world!")

Hello world!

In [5]:
lista = [1,2,3]
listb = ['a','b','c']
listc = zip(lista, listb)
listc = set(listc)

print(listc)

{(2, 'b'), (3, 'c'), (1, 'a')}

In [1]:
D = dict()
D['tutors'] = "Adam"
D["students"] = ['Lachlan', 'Grace', 'Sam']

print(D)

{'tutors': 'Adam', 'students': ['Lachlan', 'Grace', 'Sam']}

In [2]:
outer_dictionary = dict()
inner_dictionary = dict()

inner_dictionary['firstName'] = "Adam"
inner_dictionary['lastname'] = "Taranto"
outer_dictionary['Person1'] = inner_dictionary

print(outer_dictionary)
print(outer_dictionary['Person1']['firstName'])



print(inner_dictionary.keys())

{'Person1': {'firstName': 'Adam', 'lastname': 'Taranto'}}
Adam
dict_keys(['firstName', 'lastname'])

In [7]:
def func():
    a = 1
    b = "this is node1"
    c = "this is node2"
    return a,b,c

In [8]:
dist, node1, node2 = func()

print(dist)
print(node1)
print(node2)

1
this is node1
this is node2

In [10]:
key1 = "nodeA"
key2 = "nodeB"
node_name = "{}-{}".format(key1, key2)
print(node_name)

nodeA-nodeB

In [1]:
a = None
b = 'None'
print(type(a))
print(type(b))

<class 'NoneType'>
<class 'str'>

In [2]:
import pandas as pd
import numpy as np
import networkx as nx
import scipy

In [12]:
test_df = pd.DataFrame([[5,4,3,2],[10,10,6,8]])
test_df

    0   1  2  3
0   5   4  3  2
1  10  10  6  8

In [13]:
test_df.T

   0   1
0  5  10
1  4  10
2  3   6
3  2   8

In [15]:
test_df

    0   1  2  3
0   5   4  3  2
1  10  10  6  8

In [16]:
test_df.transpose().mean()

0    3.5
1    8.5
dtype: float64

In [19]:
np.identity(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

Resources: 


https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html

PCA: https://www.youtube.com/watch?v=FgakZw6K1QQ